@(deviceInfo:json.models.web.admin.vo.XGenieVO)

@main("Passive Device Infomation"){
<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Passive Devices Information</h3>

		<div class="well">
		
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
				@if(deviceInfo == null || deviceInfo.listXgInfo.size == 0){
					<tr>
						<td colspan="6" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				@for(d <- deviceInfo.listXgInfo){
					<tr>
						<td>@d.key</td>
						<td>@d.value</td>
					</tr>
				}
				</tbody>
			</table>
		
			<!--Jack XG Detail Test!!!-->
		
		<!--
			@if(deviceInfo.deviceType == 0){
				wrong device type
			}
			
			@if(deviceInfo.deviceType == 1){
				GDC
			}
			
			@if(deviceInfo.deviceType == 2){
				ID
			}
			
			@if(deviceInfo.deviceType == 3){
				SD
			}
			
			@if(deviceInfo.deviceType == 4){
				DS
			}
		-->
		</div>
	</div>
</div>
}