@(users:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.UserVO], crtOrder:String, crtDir:String, email:String)

@main("User Management Console"){
<script type="text/javascript" src='/assets/js/admin_user.js'></script>
<script type="text/javascript">
$(function(){
	window.adminUser.options({deleteUserUrl:'@controllers.admin.routes.AdminUserController.deleteUser("userid")'});
	
	var crtOrder = '@crtOrder';
	var crtDir = '@crtDir';
	var inputEmail = '@email';

	if(inputEmail){
		$('#search-email').val(inputEmail);
	}

	$('.reload-link').click(function(e){
		e.preventDefault();
		$obj = $(this);
		var order = $obj.attr('data-order');
		if(order){
			crtOrder = order;
		}

		var dir = $obj.attr('data-dir');
		if(dir){
			crtDir = dir;
		}
		
		if(inputEmail){
			location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&email=' + inputEmail;
		}else{
			location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
		}

		return false;
	});
	
	loadWhiteList();
	
});

var loadWhiteList = function(){
	$.blockUI();
	var url = '@controllers.admin.routes.AdminUserController.listWhiteListAjax()';
	$.get(url, function(data){
		$('#whiteList').html(data);
		$.unblockUI();
	});

	return false;
}
</script>

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Users</h3>
		<div style="margin:10px auto">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Order By:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")' class="reload-link" data-order="create">Create Date</a></li>
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")'  class="reload-link" data-order="update">Update Date</a></li>
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")'  class="reload-link" data-order="email">Email</a></li>
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")'  class="reload-link" data-order="name">Name</a></li>
	    		</ul>
    		</div>
    		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Direction:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")' class="reload-link" data-dir="asc">Ascending</a></li>
					<li><a href='@controllers.admin.routes.AdminUserController.manageUsers("0")'  class="reload-link" data-dir="desc">Descending</a></li>
	    		</ul>
    		</div>
    		
    		<div class="row-fluid">
				<div class="span5">
					<form class="form-horizontal" id="emailSearch" action='@controllers.admin.routes.AdminUserController.manageUsers("0")'>
						<h4>Eamil</h4>
						<input id="search-email" name="email" type="text" placeholder="your_email&#64;xxx.xxx"/>
									
			            <button class="btn btn-info" id="save-tag-btn">Search</button>
		            </form>
				</div>
			</div>
		</div>
		
		<div class="well">
			<table class="table table-hover">
	
				<thead>
					<tr>
						<th>Create(PST)</th>
						<th>Update(PST)</th>
						<th>Email</th>
						<th>Name</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
				@if(users.currents.size == 0){
					<tr>
						<td colspan="6" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				
				@for(u <- users.currents){
					<tr>
						<td>@utils.DateUtils.formatDate(u.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@utils.DateUtils.formatDate(u.updateAt, "yyyy/MM/dd HH:mm")</td>
						<td>@u.email</td>
						<td>@u.nickname</td>
						<td>
							<a href="#" onclick="return window.adminUser.deleteUser(this);" data-id="@u.userId" data-name="@u.nickname" data-email="@u.email"><i class="icon-trash"></i>DELETE</a> |
							<a href='@controllers.admin.routes.AdminDeviceController.listSmartGenie("0", u.userId)'><i class="icon-th-list"></i>Devices</a> |
							<!--Test Function-->
							<a href='@controllers.admin.routes.AdminPnIdController.getPnid(u.userId)'><i class="icon-th-list"></i>Mobile</a>
							
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>

		<div class="pagination pagination-centered">
			<ul>
				@if(users.hasPrev){
					<li><a href="@controllers.admin.routes.AdminUserController.manageUsers((users.page - 1).toString)" class="reload-link">上一頁</a></li>
				}else{
					<li class="disabled"><a href="#">上一頁</a></li>
				}

				@for(i <- 0 to users.totalPages - 1){
					@if( i == users.page ){
						<li class="active"><a href="@controllers.admin.routes.AdminUserController.manageUsers(i.toString)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.AdminUserController.manageUsers(i.toString)" class="reload-link">@(i+1)</a></li>
					}
				}

				@if(users.hasNext){
					<li><a href="@controllers.admin.routes.AdminUserController.manageUsers((users.page + 1).toString)" class="reload-link">下一頁</a></li>
				}else{
					<li class="disabled"><a href="#">下一頁</a></li>
				}
			</ul>
		</div>

	</div>

</div>

<hr>

<div class="row-fluid">
	<div id="whiteList" class="span10 offset1"></div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<form class="form-horizontal" action="@controllers.admin.routes.AdminUserController.insertWhiteUser()" method="post" id="reg-form">
			<input id="tag-name" name="email" type="text"/>
						
            <button class="btn btn-info" id="save-tag-btn">Add</button>
		</form>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<form action='@controllers.admin.routes.AdminUserController.exportEmailFile()'>
			<button class="btn btn-info">Email Export</button>
		</form>
	</div>
</div>

}