@(devices:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.XGenieVO], crtOrder:String, crtDir:String, macAddr:String)

@main("User Devices Console"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
		var inputMacAddr = '@macAddr';
		
		if(inputMacAddr){
			$('#search-macAddr').val(inputMacAddr);
		}
	
		$('.reload-link').click(function(e){
			e.preventDefault();
			$obj = $(this);
			var order = $obj.attr('data-order');
			if(order){
				crtOrder = order;
			}
	
			var dir = $obj.attr('data-dir');
			if(dir){
				crtDir = dir;
			}
			
			if(inputMacAddr){
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&macAddr=' + inputMacAddr;
			}else{
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
			}
	
			return false;
		});
	});
</script>

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Passive Devices List</h3>
		<div style="margin:10px auto">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Order By:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-order="create">Create Date</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-order="update">Update Date</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-order="name">Name</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-order="macAddress">MAC Address</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-order="devType">Device Type</a></li>
	    		</ul>
    		</div>
    		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Direction:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")' class="reload-link" data-dir="asc">Ascending</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")'  class="reload-link" data-dir="desc">Descending</a></li>
	    		</ul>
    		</div>
		</div>
		
		<div class="row-fluid">
			<div class="span5">
				<form class="form-horizontal" id="emailSearch" action='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")'>
					<h4>Device Mac Address :</h4>
					<input id="search-macAddr" name="macAddr" type="text" placeholder="aabbccddeeff"/>
								
		            <button class="btn btn-info" id="save-tag-btn">Search</button>
	            </form>
			</div>
		</div>
		
		<div class="well">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Create(PST)</th>
						<th>Update(PST)</th>
						<th>Name</th>
						<th>MAC Address</th>
						<th>Device Type</th>
						<th>Status</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
				@if(devices == null || devices.currents.size == 0){
					<tr>
						<td colspan="5" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				@for(d <- devices.currents){
					<tr>
						<td>@utils.DateUtils.formatDate(d.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@utils.DateUtils.formatDate(d.updateAt, "yyyy/MM/dd HH:mm")</td>
						<td>@d.name</td>
						<td>@d.macAddr</td>
						<td>
							@if(d.deviceType == 0){
								Error Type
							}
							@if(d.deviceType == 1){
								Garage Door Opener
							}
							@if(d.deviceType == 2){
								Irrigation
							}
							@if(d.deviceType == 3){
								Smoke detector
							}
							@if(d.deviceType == 4){
								Door Sensor
							}
						</td>
						<td>@d.status</td>
						<td>
							<a href='@controllers.admin.routes.AdminDeviceController.showXGInfo(d.xGenieId)'><i class="icon-th-list"></i>Device Info.</a>
							<a href='@controllers.admin.routes.AdminDeviceController.getSmartGenie("0", d.sgId)'><i class="icon-th-list"></i>Asante Device</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
		
		<div class="pagination pagination-centered">
			<ul>
				@if(devices.hasPrev){
					<li><a href="@controllers.admin.routes.AdminDeviceController.listAllXGenie((devices.page - 1).toString)" class="reload-link">上一頁</a></li>
				}else{
					<li class="disabled"><a href="#">上一頁</a></li>
				}

				@for(i <- 0 to devices.totalPages - 1){
					@if( i == devices.page ){
						<li class="active"><a href="@controllers.admin.routes.AdminDeviceController.listAllXGenie(i.toString)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.AdminDeviceController.listAllXGenie(i.toString)" class="reload-link">@(i+1)</a></li>
					}
				}

				@if(devices.hasNext){
					<li><a href="@controllers.admin.routes.AdminDeviceController.listAllXGenie((devices.page + 1).toString)" class="reload-link">下一頁</a></li>
				}else{
					<li class="disabled"><a href="#">下一頁</a></li>
				}
			</ul>
		</div>
	</div>

</div>
}