@(sgInfo:json.models.web.admin.vo.SmartGenieVO, deviceHistory:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.SmartGenieHistoryVO], crtOrder:String, crtDir:String)

@main("Device Detail Info"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
	
		$('.reload-link').click(function(e){
			e.preventDefault();
			$obj = $(this);
			var order = $obj.attr('data-order');
			if(order){
				crtOrder = order;
			}
	
			var dir = $obj.attr('data-dir');
			if(dir){
				crtDir = dir;
			}
			
			location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
			
			return false;
		});
	});
</script>

<div class="row-fluid">
	
	<div style="margin:10px auto">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Order By:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, "0")' class="reload-link" data-order="create">Create Date</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, "0")'  class="reload-link" data-order="update">Update Date</a></li>
	    		</ul>
    		</div>
    		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Direction:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, "0")' class="reload-link" data-dir="asc">Ascending</a></li>
					<li><a href='@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, "0")'  class="reload-link" data-dir="desc">Descending</a></li>
	    		</ul>
    		</div>
		</div>

	<div class="well">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Public IP</th>
					<th>Private IP</th>
					<th>Wifi MAC</th>
					<th>Firmware Ver.</th>
					
					<th>Wifi IP</th>
					<th>SSID Name</th>
					<th>P2P Success</th>
					<th>P2P Failure</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@sgInfo.extIP</td>
					<td>@sgInfo.innIP</td>
					<td>@sgInfo.wifiMAC</td>
					<td>@sgInfo.firmwareVer</td>
					
					<td>@sgInfo.wifiIP</td>
					<td>@sgInfo.ssidName</td>
					<td>@sgInfo.p2pSuccess</td>
					<td>@sgInfo.p2pFail</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<h3>Device Logs</h3>
	<div class="well">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Create At(PST)</th>
					<th>Action</th>
					<th>Form</th>
				</tr>
			</thead>
			@if(deviceHistory == null || deviceHistory.currents.size == 0){
				<tr>
					<td colspan="3" style="text-align: center">
						:::::::::: Empty ::::::::::
					</td>
				</tr>
			}
			@for(dh <- deviceHistory.currents){
				<tr>
					<td>@utils.DateUtils.formatDate(dh.createAt, "yyyy/MM/dd HH:mm")</td>
					<td>@dh.action</td>
					<td>@dh.form</td>
				</tr>
			}
			</tbody>
		</table>
	</div>

	<div class="pagination pagination-centered">
		<ul>
			@if(deviceHistory.hasPrev){
				<li><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, (deviceHistory.page - 1).toString)" class="reload-link">上一頁</a></li>
			}else{
				<li class="disabled"><a href="#">上一頁</a></li>
			}

			@if((deviceHistory.page + 5) <= (deviceHistory.totalPages - 1)){
				@for(i <- deviceHistory.page + 0 to deviceHistory.page + 5){
					@if( i == deviceHistory.page ){
						<li class="active"><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, i.toString)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, i.toString)" class="reload-link">@(i+1)</a></li>
					}
				}
			}else{
				@for(i <- deviceHistory.totalPages - 5 to deviceHistory.totalPages - 1){
					@if(i>=0){
						@if( i == deviceHistory.page ){
							<li class="active"><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, i.toString)" class="reload-link">@(i+1)</a></li>
						}else{
							<li><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, i.toString)" class="reload-link">@(i+1)</a></li>
						}
					}
				}
			}
			
			@if(deviceHistory.hasNext){
				<li><a href="@controllers.admin.routes.AdminDeviceController.showSGInfo(sgInfo.smartGenieId, (deviceHistory.page + 1).toString)" class="reload-link">下一頁</a></li>
			}else{
				<li class="disabled"><a href="#">下一頁</a></li>
			}
		</ul>
	</div>

</div>

}