@(logs:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.DuplicateEventLogVO], sgId:String)

@main("Duplicate Event Log"){

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Duplicate Event Log</h3>

		<div class="well">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Create</th>
					<th>Event Type</th>
					<th>Msg ID</th>
				</tr>
				</thead>
				<tbody>
				@if(logs == null || logs.currents.size == 0){
					<tr>
						<td colspan="6" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				@for(log <- logs.currents){
					<tr>
						<td>@utils.DateUtils.formatDate(log.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@log.eventType</td>
						<td>@log.msgId</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
		
		<div class="pagination pagination-centered">
			<ul>
				@if(logs.hasPrev){
					<li><a href="@controllers.admin.routes.EventManagerController.duplicateEventLog((logs.page - 1).toString, sgId)" class="reload-link">上一頁</a></li>
				}else{
					<li class="disabled"><a href="#">上一頁</a></li>
				}

				@for(i <- 0 to logs.totalPages - 1){
					@if( i == logs.page ){
						<li class="active"><a href="@controllers.admin.routes.EventManagerController.duplicateEventLog(i.toString, sgId)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.EventManagerController.duplicateEventLog(i.toString, sgId)" class="reload-link">@(i+1)</a></li>
					}
				}

				@if(logs.hasNext){
					<li><a href="@controllers.admin.routes.EventManagerController.duplicateEventLog((logs.page + 1).toString, sgId)" class="reload-link">下一頁</a></li>
				}else{
					<li class="disabled"><a href="#">下一頁</a></li>
				}
			</ul>
		</div>
	</div>

</div>
}