@(mobiles:List[controllers.admin.forms.MobileInfo])

@main("User Management Console"){
 
<div class="row-fluid">
    <div class="span10 offset1">
        <h3>Mobile</h3>
        <div class="well">
            <table class="table table-hover">

                <thead>
                <tr>
                    <th>Create</th>
                    <th>Device</th>
                    <th>OS</th>
                    <th>OS ver</th>
                    <th>Manufacturer</th>
                    <th>app ver</th>
                </tr>
                </thead>
                <tbody>
                @if(mobiles == null || mobiles.size == 0){
                <tr>
                    <td colspan="6" style="text-align: center">
                        :::::::::: Empty ::::::::::
                    </td>
                </tr>
                }

                @for(m <- mobiles){
                <tr>
                    <td>@m.create_at</td>
                    <td>@m.deviceName</td>
                    <td>@m.deviceOsName</td>
                    <td>@m.deviceOsVersion</td>
                    <td>@m.deviceManufacturer</td>
                    <td>@m.appVer</td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
}