@(orders:List[models.Checkout])

@main("List Order"){

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>List Order</h3>

		<div class="well">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Order Number</th>
						<th>Create At(PST)</th>
						<th>Price</th>
						<th>Tax</th>
						<th>Total Price</th>
						<th>Table Number</th>
					</tr>
				</thead>
				<tbody>
				@if(orders == null || orders.size == 0){
					<tr>
						<td colspan="5" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				@for(d <- orders){
					<tr>
						<td>@d.no</td>
						<td>@utils.DateUtils.formatDate(d.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@d.price</td>
						<td>@d.tax</td>
						<td>@d.total</td>
						<td>@d.table_no</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>

</div>
}