@main("Admin Console") {
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#login-form').validate({
		errorClass: "text-error",
	});

	FB.init(asante.FB_INIT_ARGS);

});

var loginWithFB = function() {
	FB.login(function(data){
		if (data.status == 'connected') {
			$('#fb-user-id-input').val(data.authResponse.userID);
			$('#fb-at-input').val(data.authResponse.accessToken);

			$('.control-group').remove();
			$('#login-form').submit();


		}
	},{scope: 'email'});
	return false;
}
</script>
<div class="row">
	<div class="span6 offset3">
		<fieldset>
			<legend>Login</legend>
			<form class="form-horizontal" action="@controllers.admin.routes.AdminLoginController.doLogin" method="post" id="login-form">
				<input type="hidden" name="fbUserId" id="fb-user-id-input"/>
				<input type="hidden" name="accessToken" id="fb-at-input" />
				<input type="hidden" name="from" value='@request.getQueryString("from")'/>
				<div class="control-group">
					<div class="controls">
						<p>
				    		<a class="btn-auth btn-facebook" href="#" onclick="return loginWithFB();">
    							Login with <b>Facebook</b>
							</a>
				    	</p>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
</div>
}