@(employees:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.EmployeeVO], crtOrder:String, crtDir:String, email:String)

@main("Employee Console"){
<script type="text/javascript">
$(function(){
	
	var crtOrder = '@crtOrder';
	var crtDir = '@crtDir';
	var inputEmail = '@email';

	if(inputEmail){
		$('#search-email').val(inputEmail);
	}

	$('#edit-tag-btn').click(function(e){
		e.preventDefault();
		location.href = '@controllers.admin.routes.EmployeeController.editEmployee(" ")';
	});

	$('.reload-link').click(function(e){
		e.preventDefault();
		$obj = $(this);
		var order = $obj.attr('data-order');
		if(order){
			crtOrder = order;
		}

		var dir = $obj.attr('data-dir');
		if(dir){
			crtDir = dir;
		}
		
		if(inputEmail){
			location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&email=' + inputEmail;
		}else{
			location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
		}

		return false;
	});
});

var deleteEmployee = function(obj){
	var $obj = $(obj);
	var name = $obj.attr('data-name');
	var email = $obj.attr('data-email');
			
	bootbox.confirm("Are You Sure Delete Employee?<br>Name："　+ name +"<br>Email："　+ email, 
	function(result){
		if(result){
			location.href = $obj.attr('href');
		}
	});
			
	return false;
}
</script>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="btn-group"><h3>Employees</h3></div><div class="btn-group" style="margin-top:20px"><button class="btn btn-info" id="edit-tag-btn">Add</button></div>
		<div style="margin:10px auto">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Order By:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-order="create">Create Date</a></li>
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-order="update">Update Date</a></li>
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-order="depart">Department</a></li>
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-order="email">Email</a></li>
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-order="name">Name</a></li>
	    		</ul>
    		</div>
    		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
	      			Direction:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-dir="asc">Ascending</a></li>
					<li><a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")' class="reload-link" data-dir="desc">Descending</a></li>
	    		</ul>
    		</div>
    		
    		<div class="row-fluid">
				<div class="span5">
					<form class="form-horizontal" id="emailSearch" action='@controllers.admin.routes.EmployeeController.listAllEmployee("0")'>
						<h4>Eamil</h4>
						<input id="search-email" name="email" type="text" placeholder="your_email&#64;xxx.xxx"/>
									
			            <button class="btn btn-info" id="save-tag-btn">Search</button>
		            </form>   
				</div>
			</div>			
		</div>
		
		<div class="well">
			<table class="table table-hover">
	
				<thead>
					<tr>
						<th>Create(PST)</th>
						<th>Update(PST)</th>
						<th>Name</th>
						<th>Department</th>
						<th>Phone Extension</th>
						<th>Email</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
				@if(employees.currents.size == 0){
					<tr>
						<td colspan="6" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				
				@for(e <- employees.currents){
					<tr>
						<td>@utils.DateUtils.formatDate(e.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@utils.DateUtils.formatDate(e.updateAt, "yyyy/MM/dd HH:mm")</td>
						<td>@e.name</td>
						<td>@e.department</td>
						<td>@e.phoneExtension</td>
						<td>@e.email</td>
	
						<td>
							<a href="@controllers.admin.routes.EmployeeController.deleteEmployee(e.empId)" onclick="return deleteEmployee(this)" data-name="@e.name" data-email="@e.email"><i class="icon-trash"></i>DELETE</a> |
							<a href='@controllers.admin.routes.EmployeeController.editEmployee(e.empId)'><i class="icon-th-list"></i>Update</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>

		<div class="pagination pagination-centered">
			<ul>
				@if(employees.hasPrev){
					<li><a href="@controllers.admin.routes.EmployeeController.listAllEmployee((employees.page - 1).toString)" class="reload-link">上一頁</a></li>
				}else{
					<li class="disabled"><a href="#">上一頁</a></li>
				}

				@for(i <- 0 to employees.totalPages - 1){
					@if( i == employees.page ){
						<li class="active"><a href="@controllers.admin.routes.EmployeeController.listAllEmployee(i.toString)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.EmployeeController.listAllEmployee(i.toString)" class="reload-link">@(i+1)</a></li>
					}
				}

				@if(employees.hasNext){
					<li><a href="@controllers.admin.routes.EmployeeController.listAllEmployee((employees.page + 1).toString)" class="reload-link">下一頁</a></li>
				}else{
					<li class="disabled"><a href="#">下一頁</a></li>
				}
			</ul>
		</div>

	</div>

</div>

}