@(employee:json.models.web.admin.vo.EmployeeVO)

@main("Employee Console"){
<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Edit Employee</h3>
		<form class="form-vertical" action="@controllers.admin.routes.EmployeeController.insertEmployee()" method="post" id="reg-form">
			<input type="hidden" name="empId" value="@employee.empId">
			<div class="form-group">
			     	<label for="Name">Name</label>
			        <input type="text" name="name" value="@employee.name">
			</div>
			<div class="form-group">
			     	<label for="Department">Department</label>
			        <input type="text" name="department" value="@employee.department">
			</div>
			<div class="form-group">
			     	<label for="CellPhone">Cell Phone</label>
			        <input type="text" name="cellPhone" value="@employee.cellPhone">
			</div>
			<div class="form-group">
			     	<label for="PhoneExtension">Phone Extension</label>
			        <input type="text" name="phoneExtension" value="@employee.phoneExtension">
			</div>
			<div class="form-group">
			     	<label for="Email">Email</label>
			        <input type="text" name="email" value="@employee.email">
			</div>
			@if(employee.empId == null){
				<button class="btn btn-info" id="save-tag-btn">Insert</button>
			}else{
				<button class="btn btn-info" id="save-tag-btn">Modify</button>
			}
		</form>
	</div>
</div>

}