@main("XGenie Type Console"){
    <script type="text/javascript">
    	$(function(){
     		loadEventList();
     	});
     
    	var loadEventList = function(){
			var url = '@controllers.admin.routes.EventManagerController.listEventAjax()';
			$.get(url, function(data){
				$('#event_list').html(data);
			});

			return false;
    	}
    </script>

	<div class="row-fluid">
		<div id="firmware_form" class="span3 offset1">
			<h3>Insert New Event</h3>
		    <form class="form-vertical" action="@controllers.admin.routes.EventManagerController.addNewEvent()" method="post" id="reg-form">
		    	
		    	<div class="form-group">
			     	<label for="eventType">Event Type</label>
			        <input type="text" name="eventType">
				</div>
		    	<div class="form-group">
			     	<label for="eventType">Event Message</label>
			        <input type="text" name="eventMsg">
				</div>
		        <div class="form-group">
			     	<label for="eventType">Notified</label>
			        <select name="canNotify">
						<option value="0">no</option>
						<option value="1">yes</option>
					</select>
				</div>
				<div class="form-group">
			     	<label for="eventType">Comment</label>
			        <input type="text" name="comment">
				</div>
				<button class="btn btn-info" id="save-tag-btn">Submit</button>
			</form>
		</div>
	
		<div class="span8">
			<div id="event_list">
			</div>
		</div>
	</div>
}