@(eventList:List[models.Event])

<div class="well">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Event Number</th>
				<th>Event Message</th>
				<th>Can Notified</th>
				<th>Comment</th>
			</tr>
		</thead>
		@if(eventList.size == 0){
			<tr>
				<td colspan="4" style="text-align: center">
					:::::::::: Empty ::::::::::
				</td>
			</tr>
		}
	
		@for(event <- eventList){
			<tr>
				<td>@event.eventType</td>
				<td>@event.eventMsg</td>
				<td>
					@if(event.canNotify == true){
						yes
					}else{
						no
					}
				</td>
				<td>@event.comment</td>
			</tr>
		}
	</table>
</div>



