@main("Send Messages"){

<script type="text/javascript">
    $(function(){
             $('textarea').keypress(function() {
                 var x = $(this).val();
                 if (x.match(/[\u3400-\u9FBF]/) && x.length >= 100) {
                     this.value = this.value.substring(0, 99);
                 } else if (x.length >= 200){
                    this.value = this.value.substring(0, 199);
                 }
             });

             $('form').submit(function() {
                 var x = $(this).find('textarea').val();
                 if (x.match(/[\u3400-\u9FBF]/) && x.length >= 100) {
                     alert('Message is over 200 characters ');
                     return false;
                 } else if (x.length >= 200){
                     alert('Message is over 200 characters ');
                     return false;
                 }else{
                     this.submit();
                 }
             });
    });

</script>

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>Messages Home</h3>
		<form role="form" action="@controllers.admin.routes.SendMessageController.sendMessage()" method="post" enctype="multipart/form-data">
			<div class="controls-row">
				<div class="control-group span3">
					<label>Device</label>
				    <select name="device">
						<option value="0">AG</option>
						<option value="1">IC</option>
						<option value="2">GDO</option>
						<option value="3">iPhone</option>
						<option value="4">Android</option>
					</select>
				</div>
				<div class="control-group span3">
			     	<label>Condition</label>
			        <select name="condition">
						<option value="0"><</option>
						<option value="1">=</option>
					</select>
				</div>
				<div class="control-group span3">
			     	<label>Firmware/App ver</label>
			     	<input type="text" name="version">
				</div>	     	
		    </div>
		    <input type="checkbox" value="1" name="email"> Email<p>
			<input type="checkbox" value="1" name="notification"> Notification<p>
			<input type="text" placeholder="please enter the title" style="width:455px" name="title"><p>

			<textarea placeholder="please enter the description under 200 characters" rows="10" cols="50" style="width:455px; height:300px" name="content"></textarea><p>
			<button class="btn btn-info">Submit</button>
		</form>
    </div> 
</div>

}