@(firmwares:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.FirmwareGroupVO], crtOrder:String, crtDir:String, fgName:String)

@main("Firmware Upload Console"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
		var inputFGName = '@fgName';
		
		if(inputFGName){
			$('#search-name').val(inputFGName);
		}

		$('.reload-link').click(function(e){
			e.preventDefault();
			$obj = $(this);
			var order = $obj.attr('data-order');
			if(order){
				crtOrder = order;
			}

			var dir = $obj.attr('data-dir');
			if(dir){
				crtDir = dir;
			}
			
			if(inputFGName){
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&fgName=' + inputFGName;
			}else{
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
			}

			return false;
		});
	});
</script>

<div class="row-fluid">
	<div id="firmware_form" class="span10 offset1">
	    <h3>Firmware Upload</h3>
	    <form role="form" action="@controllers.admin.routes.FirmwareUploadController.upload()" method="post" id="reg-form" enctype="multipart/form-data">
	    	<div class="controls-row">
				<div class="control-group span3">
			     	<label for="firmwareType">Type</label>
			        <select name="class">
						<option value="SG_FIRMWARE">SmartGenie</option>
						<option value="XG_FIRMWARE">xGenie</option>
					</select>
				</div>
				<div class="control-group span3">
			     	<label for="firmwareName">GroupName</label>
			     	<input type="text" name="groupName">
				</div>	     	
				<div class="control-group span3">
			     	<label for="firmwareVersion">Version</label>
			     	<input type="text" name="version">
			    </div>
			    <div class="control-group span3">
				    <label for="firmwareFile">File input</label>
				    <input type="file" name="upload">
				</div>
				<div class="control-group span3">
				    <input type="checkbox" value="force_upgrade" name="force_upgrade">Force upgrade<p>
				</div>
	        </div>
	        <button class="btn btn-info" id="save-tag-btn">Submit</button>
	    </form>
    </div>
    <hr/>
    <div class="row-fluid">
		<div class="span10 offset1">
			<h3>Firmwares</h3>
			<div style="margin:10px auto">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
		      			Order By:
		      			<span class="caret"></span>
		    		</button>
		    		<ul class="dropdown-menu" role="menu">
						<li><a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")' class="reload-link" data-order="create">Create Date</a></li>
						<li><a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")'  class="reload-link" data-order="update">Update Date</a></li>
						<li><a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")'  class="reload-link" data-order="fgName">Name</a></li>
		    		</ul>
	    		</div>
	    		<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
		      			Direction:
		      			<span class="caret"></span>
		    		</button>
		    		<ul class="dropdown-menu" role="menu">
						<li><a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")' class="reload-link" data-dir="asc">Ascending</a></li>
						<li><a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")'  class="reload-link" data-dir="desc">Descending</a></li>
		    		</ul>
	    		</div>
	    		
	    		<div class="row-fluid">
					<div class="span5">
						<form class="form-horizontal" id="emailSearch" action='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")'>
							<h4>Name</h4>
							<input id="search-name" name="fgName" type="text" placeholder="abcdefghi"/>
										
				            <button class="btn btn-info" id="save-tag-btn">Search</button>
			            </form>
					</div>
				</div>
			</div>
			
			<div class="well">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Create(PST)</th>
							<th>Update(PST)</th>
							<th>Name</th>
							<th>Version</th>
							<th>File Name</th>
							<th>Force Upgrade</th>
						</tr>
					</thead>
					<tbody>
					@if(firmwares.currents.size == 0){
						<tr>
							<td colspan="5" style="text-align: center">
								:::::::::: Empty ::::::::::
							</td>
						</tr>
					}
					@for(fg <- firmwares.currents){
						<tr>
							<td>@utils.DateUtils.formatDate(fg.createAt, "yyyy/MM/dd HH:mm")</td>
							<td>@utils.DateUtils.formatDate(fg.updateAt, "yyyy/MM/dd HH:mm")</td>
							<td>@fg.name</td>
							<td>@fg.firmwareVersion</td>
							<td>@fg.fileEntity.fileName</td>
							<td>@fg.forceUpgrade</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
	
			<div class="pagination pagination-centered">
				<ul>
					@if(firmwares.hasPrev){
						<li><a href="@controllers.admin.routes.FirmwareUploadController.managerFirmware((firmwares.page - 1).toString)" class="reload-link">Prev</li>
					}else{
						<li class="disabled"><a href="#">Prev</li>
					}
	
					@for(i <- 0 to firmwares.totalPages - 1){
						@if( i == firmwares.page ){
							<li class="active"><a href="@controllers.admin.routes.FirmwareUploadController.managerFirmware(i.toString)" class="reload-link">@(i+1)</a></li>
						}else{
							<li><a href="@controllers.admin.routes.FirmwareUploadController.managerFirmware(i.toString)" class="reload-link">@(i+1)</a></li>
						}
					}
	
					@if(firmwares.hasNext){
						<li><a href="@controllers.admin.routes.FirmwareUploadController.managerFirmware((firmwares.page + 1).toString)" class="reload-link">Next</li>
					}else{
						<li class="disabled"><a href="#">Next</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
}