@(appinfos:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.AppInfoVO], crtOrder:String, crtDir:String, fgName:String)

@main("Smart Phone Application Info Upload Console"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
		var inputFGName = '@fgName';

		$('#versioncode').keyup(function (e) {
            var inputVal = $("#versioncode input").val();
            var numericReg =  /^(0|[1-9][0-9]*)$/;
            if(!numericReg.test(inputVal)) {
                  alert("Version Code is not Integer");
            }
        });

        $('form').submit(function(e) {
                 var vc = null;
                 var vn = null;
                 var vt = "Error: ";
                 var inputVal = $(this).find("#versioncode input").val();
                 var numericReg = /^(0|[1-9][0-9]*)$/;
                 if(!numericReg.test(inputVal)) {
                     vc = " Version code include non digit";
                 }
                 var inputVal2 = $(this).find("#versionname input").val();
                 var numericReg2 = /^\d+(\.\d+)*$/;
                 if(!numericReg2.test(inputVal2)) {
                    vn = " Version name include non digit";
                 }
                 if(vc!==null || vn!== null){
                     if(vc!==null){
                         vt += vc;
                     }
                     if(vn!==null){
                       vt += vn
                     }
                     alert(vt);
                     e.preventDefault();
                     return false;
                 }else{
                   $(this).submit;
                 }
        });





		$('.reload-link').click(function(e){
			e.preventDefault();
			$obj = $(this);
			var order = $obj.attr('data-order');
			if(order){
				crtOrder = order;
			}

			var dir = $obj.attr('data-dir');
			if(dir){
				crtDir = dir;
			}
			
			if(inputFGName){
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&fgName=' + inputFGName;
			}else{
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
			}

			return false;
		});
	});
</script>

<div class="row-fluid">
	<div id="appinfo_form" class="span10 offset1">
	    <h3>SmartPhone Application Info Upload</h3>
	    <form role="form" action="@controllers.admin.routes.SmartPhoneAppInfoUploadController.update()" method="post" id="reg-form" enctype="multipart/form-data">
	    	<div class="controls-row">
				<div class="control-group span3">
			     	<label for="OSType">Device OS Type</label>
			        <select name="class">
						<option value="IOS">IOS</option>
						<option value="ANDROID">ANDROID</option>
					</select>
				</div>
                <div class="control-group span3" id="versioncode">
                    <label for="versionCode">Version Code</label>
                    <input type="text" name="versionCode">
                </div>
				<div class="control-group span3" id="versionname">
			     	<label for="Version Name">Version Name</label>
			     	<input type="text" name="versionName">
				</div>
                <div class="control-group span3">
                    <input type="checkbox" value="force_upgrade" name="force_upgrade">Force upgrade<p>
                </div>
	        </div>
	        <button class="btn btn-info" id="save-tag-btn">Submit</button>
	    </form>
    </div>
    <hr/>
    <div class="row-fluid">
		<div class="span10 offset1">
			<h3>SmartPhone OS</h3>
			<div class="well">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Create(PST)</th>
							<th>Update(PST)</th>
							<th>Device OS Name</th>
							<th>Device Version Code</th>
							<th>Device Version Name</th>
                            <th>Force Upgrade</th>
						</tr>
					</thead>
					<tbody>
					@if(appinfos.currents.size == 0){
						<tr>
							<td colspan="5" style="text-align: center">
								:::::::::: Empty ::::::::::
							</td>
						</tr>
					}
					@for(appinfo <- appinfos.currents){
						<tr>
							<td>@utils.DateUtils.formatDate(appinfo.createAt, "yyyy/MM/dd HH:mm")</td>
							<td>@utils.DateUtils.formatDate(appinfo.updateAt, "yyyy/MM/dd HH:mm")</td>
							<td>@appinfo.device_os_name</td>
                            <td>@appinfo.version_code</td>
                            <td>@appinfo.version_name</td>
							<td>@appinfo.force_upgrade</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
	
			<div class="pagination pagination-centered">
				<ul>
					@if(appinfos.hasPrev){
						<li><a href="@controllers.admin.routes.SmartPhoneAppInfoUploadController.managerAppInfo((appinfos.page - 1).toString)" class="reload-link">Prev</a></li>
					}else{
						<li class="disabled"><a href="#">Prev</a></li>
					}
	
					@for(i <- 0 to appinfos.totalPages - 1){
						@if( i == appinfos.page ){
							<li class="active"><a href="@controllers.admin.routes.SmartPhoneAppInfoUploadController.managerAppInfo(i.toString)" class="reload-link">@(i+1)</a></li>
						}else{
							<li><a href="@controllers.admin.routes.SmartPhoneAppInfoUploadController.managerAppInfo(i.toString)" class="reload-link">@(i+1)</a></li>
						}
					}
	
					@if(appinfos.hasNext){
						<li><a href="@controllers.admin.routes.SmartPhoneAppInfoUploadController.managerAppInfo((appinfos.page + 1).toString)" class="reload-link">Next</a></li>
					}else{
					    <li class="disabled"><a href="#">Next</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
}