@(emaillists:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.EmailBlackListVO], crtOrder:String, crtDir:String, email:String)

@main("Email Black List Upload Console"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
		var email = '@email';

	});
</script>

<div class="row-fluid">
	<div id="appinfo_form" class="span10 offset1">
	    <h3>Email Black List Upload</h3>
	    <form role="form" action="@controllers.admin.routes.EmailBlackListUploadController.update()" method="post" id="reg-form" enctype="multipart/form-data">
	    	<div class="controls-row">
				<div class="control-group span3" id="email">
			     	<label for="email">Email</label>
			     	<input type="text" name="email">
				</div>
	        </div>
	        <button class="btn btn-info" id="save-tag-btn">Submit</button>
	    </form>
    </div>
    <hr/>
    <div class="row-fluid">
		<div class="span10 offset1">
			<h3>Email Black List</h3>
			<div class="well">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Create(PST)</th>
							<th>Update(PST)</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
					@if(emaillists.currents.size == 0){
						<tr>
							<td colspan="5" style="text-align: center">
								:::::::::: Empty ::::::::::
							</td>
						</tr>
					}
					@for(emaillist <- emaillists.currents){
						<tr>
							<td>@utils.DateUtils.formatDate(emaillist.createAt, "yyyy/MM/dd HH:mm")</td>
							<td>@utils.DateUtils.formatDate(emaillist.updateAt, "yyyy/MM/dd HH:mm")</td>
							<td>@emaillist.email</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
	
			<div class="pagination pagination-centered">
				<ul>
					@if(emaillists.hasPrev){
						<li><a href="@controllers.admin.routes.EmailBlackListUploadController.managerEmailList((emaillists.page - 1).toString)" class="reload-link">Prev</a></li>
					}else{
						<li class="disabled"><a href="#">Prev</a></li>
					}
	
					@for(i <- 0 to emaillists.totalPages - 1){
						@if( i == emaillists.page ){
							<li class="active"><a href="@controllers.admin.routes.EmailBlackListUploadController.managerEmailList(i.toString)" class="reload-link">@(i+1)</a></li>
						}else{
							<li><a href="@controllers.admin.routes.EmailBlackListUploadController.managerEmailList(i.toString)" class="reload-link">@(i+1)</a></li>
						}
					}
	
					@if(emaillists.hasNext){
						<li><a href="@controllers.admin.routes.EmailBlackListUploadController.managerEmailList((emaillists.page + 1).toString)" class="reload-link">Next</a></li>
					}else{
					    <li class="disabled"><a href="#">Next</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
}