@(activeCode:json.models.web.admin.vo.PageVO[json.models.web.admin.vo.P2pActiveCodeFileVO], crtOrder:String, crtDir:String, facName:String)

@main("ActiveCode Upload Console"){
<script type="text/javascript">
	$(function(){
		var crtOrder = '@crtOrder';
		var crtDir = '@crtDir';
		var inputFACName = '@facName';
		
		if(inputFACName){
			$('#search-name').val(inputFACName);
		}

		$('.reload-link').click(function(e){
			e.preventDefault();
			$obj = $(this);
			var order = $obj.attr('data-order');
			if(order){
				crtOrder = order;
			}

			var dir = $obj.attr('data-dir');
			if(dir){
				crtDir = dir;
			}
			
			if(inputFACName){
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir + '&facName=' + inputFACName;
			}else{
				location.href = $obj.attr('href') + '?order=' + crtOrder + '&direction=' + crtDir;	
			}

			return false;
		});
	});
</script>

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>ActiveCode Upload</h3>
		<form role="form" action="@controllers.admin.routes.ActiveCodeUploadController.upload()" method="post" id="reg-form" enctype="multipart/form-data">
			<div class="controls-row">
			    <div class="control-group span3">
				    <label for="ActiveCode">File input</label>
				    <input type="file" name="upload">
				</div>
				<div class="control-group span3">
				<label>Operation</label>
				<button class="btn btn-info" id="save-tag-btn">Upload</button>
				</div>
	        </div>
		</form>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<h3>ActiveCode List</h3>
		<div style="margin:10px auto">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
		      		Order By:
		      		<span class="caret"></span>
		    	</button>
		    	<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-order="create">Create Date</a></li>
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-order="update">Update Date</a></li>
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-order="facName">Name</a></li>
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-order="fileName">File Name</a></li>		    		
				</ul>
	   		</div>
	   		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					Direction:
	      			<span class="caret"></span>
	    		</button>
	    		<ul class="dropdown-menu" role="menu">
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-dir="asc">Ascending</a></li>
					<li><a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")' class="reload-link" data-dir="desc">Descending</a></li>
	    		</ul>
	   		</div>
	   		
	   		<div class="row-fluid">
				<div class="span5">
					<form class="form-horizontal" id="emailSearch" action='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")'>
						<h4>Name</h4>
						<input id="search-name" name="facName" type="text" placeholder="abcdefghi"/>
									
			            <button class="btn btn-info" id="save-tag-btn">Search</button>
			        </form>
				</div>
			</div>
		</div>
			
		<div class="well">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Create(PST)</th>
						<th>Update(PST)</th>
						<th>Name</th>
						<th>Items</th>
						<th>File Name</th>
					</tr>
				</thead>
				<tbody>
				@if(activeCode.currents.size == 0){
					<tr>
						<td colspan="5" style="text-align: center">
							:::::::::: Empty ::::::::::
						</td>
					</tr>
				}
				@for(fac <- activeCode.currents){
					<tr>
						<td>@utils.DateUtils.formatDate(fac.createAt, "yyyy/MM/dd HH:mm")</td>
						<td>@utils.DateUtils.formatDate(fac.updateAt, "yyyy/MM/dd HH:mm")</td>
						<td>@fac.name</td>
						<td>@fac.items</td>
						<td>@fac.fileName</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	
		<div class="pagination pagination-centered">
			<ul>
				@if(activeCode.hasPrev){
					<li><a href="@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode((activeCode.page - 1).toString)" class="reload-link">上一頁</a></li>
				}else{
					<li class="disabled"><a href="#">上一頁</a></li>
				}
	
				@for(i <- 0 to activeCode.totalPages - 1){
					@if( i == activeCode.page ){
						<li class="active"><a href="@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode(i.toString)" class="reload-link">@(i+1)</a></li>
					}else{
						<li><a href="@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode(i.toString)" class="reload-link">@(i+1)</a></li>
					}
				}

				@if(activeCode.hasNext){
					<li><a href="@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode((activeCode.page + 1).toString)" class="reload-link">下一頁</a></li>
				}else{
					<li class="disabled"><a href="#">下一頁</a></li>
				}
			</ul>
		</div>
	</div>
</div>
}