@(whitelist:List[models.AdminWhiteList])

<div>
	<form class="form-horizontal" action="@controllers.admin.routes.AdminUserController.deleteWhiteUser()" method="post" id="reg-form">
		<select name="email" id="cmb_email" >
			@for(whiteUser <- whitelist){
				<option value="@whiteUser.email">@whiteUser.email</option>
			}
		</select>			
        <button class="btn btn-danger" id="delete-white-user-btn" onclick="return window.adminUser.deleteWhiteUser(this);">Delete</button>
	</form>
</div>



