@main("XGenie Type Console"){
    <script type="text/javascript">
    	$(function(){
			loadXGenieTypeList();
    	});
     
    	var loadXGenieTypeList = function(){
			var url = '@controllers.admin.routes.XGenieTypeManagerController.listXGenieTypeAjax()';
			$.get(url, function(data){
				$('#xg_type_list').html(data);
			});

			return false;
    	}
    </script>

	<div class="row-fluid">
		<div id="firmware_form" class="span10 offset1">
			<h3>Insert New XGenie Type</h3>
		    <form class="form-vertical" action="@controllers.admin.routes.XGenieTypeManagerController.addNewXGenieType()" method="post" id="reg-form">
		    	<div class="form-group">
			     	<label for="xGenieType">XGenie Type</label>
			        <input type="text" name="xgenieType">
				</div>
		    	
		    	<div class="form-group">
			     	<label for="xGenieName">XGenie Name</label>
			        <input type="text" name="xgenieName">
				</div>
				
		        <button class="btn btn-info" id="save-tag-btn">Submit</button>
			</form>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span10 offset1">
			<div id="xg_type_list">
			</div>
		</div>
	</div>
}