@(xgenieList:List[models.XGenieType])

<div class="well">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>XGenie Type</th>
				<th>XGenie Name</th>
			</tr>
		</thead>
		@if(xgenieList.size == 0){
			<tr>
				<td colspan="2" style="text-align: center">
					:::::::::: Empty ::::::::::
				</td>
			</tr>
		}
	
		@for(xgenie <- xgenieList){
			<tr>
				<td>@xgenie.deviceType</td>
				
				<td>@xgenie.deviceName</td>
			</tr>
		}
	</table>
</div>