
@if( flash.get("errMsg") ){
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> @flash.get("errMsg")
    </div>
}

@if( flash.get("warnMsg") ){
    <div class="alert alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> @flash.get("warnMsg")
    </div>
}

@if( flash.get("infoMsg") ){
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @flash.get("infoMsg")
    </div>
}

