<div id="footer" class="clearfix">
	<div class="container">
		<div id="footer-wrapper">
			<div class="span12">
				<div class="row-fluid">
					<div class="span12" style="text-align: center">
						<p class="muted">2017 © Asante All Rights Reserved.
						</p>
					</div>
				</div>
        	</div><!-- span12-->
		</div><!-- end #footer-wrapper -->
    </div>
</div><!-- end #footer -->