<script type="text/javascript">

</script>
<div class="navbar navbar-static-top  navbar-fixed-top ">
	<div class="navbar-inner">
		<div class="container">


			<div class="nav-collapse collapse">
				<ul id="menu-menu" class="nav">
					<li class="menu-item menu-item-type-post_type menu-item-object-page">
						<a href="@routes.Application.index" class="brand">AsanteGenie</a>
					</li>
				</ul>
			</div>
				@if( !session.get(frameworks.Constants.SESSION_KEY_USER) ){
				<ul class="nav pull-right">
					<li class="menu-item">
						<a href="#">Login</a>
					</li>
				</ul>
				}

				@if( session.get(frameworks.Constants.SESSION_KEY_USER) && controllers.BasicController.user == null ){
					<script type="text/javascript">
						location.reload();
					</script>
				}

				@if( session.get(frameworks.Constants.SESSION_KEY_USER) ){
				<ul class="nav pull-right">

					<li class="menu-item dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding:0px" >
							<img src="@controllers.BasicController.user.avatarImageUrl" height="40" width="40" style="width:40px; height: 40px" />
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href='@controllers.admin.routes.AdminUserController.manageUsers("0")'>User List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.AdminDeviceController.listAllSmartGenie("0")'>Asante Device List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.AdminDeviceController.listAllXGenie("0")'>Passive Device List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.FirmwareUploadController.managerFirmware("0")'>Firmware List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.SmartPhoneAppInfoUploadController.managerAppInfo("0")'>Smartphone Application Info List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.ActiveCodeUploadController.managerActiveCode("0")'>ActiveCode List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.XGenieTypeManagerController.index()'>XGenie Type</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.EventManagerController.index()'>Event List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.EmployeeController.listAllEmployee("0")'>Employee List</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.EmailBlackListUploadController.managerEmailList("0")'>Email Blacklist Home</a>
							</li>
							<li>
								<a href='@controllers.admin.routes.SendMessageController.managerMessage()'>Messages Home</a>
							</li>
							<!--
							<li>
								<a href='@controllers.admin.routes.AdminCloudWatchController.cloudWatchIndex()'>CloudWatch Home</a>
							</li>
							-->
							<li>
								<a href="@controllers.admin.routes.AdminLoginController.logout"><i class=" icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				}
		</div>
	</div>
</div>
