@(title: String)(ai: String)(ac: String)

@import mobile._

@mobile_main(title)("Please Change Your Password"){
    <form id="pwd-form" method="POST" action="">
        <p><b> Your New Password : </b></p>
        <input type="password" name="pwd" required >
        <p class="muted"> Your password should have at least 8 - 15 characters</p>

        <p><b> Confirm Your Password : </b></p>
        <input type="password" name="confirmPwd" required>
        <hr/>
        <button type="submit" class="btn btn-primary btn-block" id="submit-btn"> Submit </button>
    </form>

    <script type="text/javascript">
		$(function(){


            @if( flash.get("showBackToAppBtn") ){
            	$('#pwd-form').hide();
            	$('#back-to-app-div').show();
            }


		    $('#submit-btn').click(function(){
				alertMsgDiv.html('');
		    	var pwd = $('input[name=pwd]').val();
		    	var confirmPwd = $('input[name=confirmPwd]').val();

		    	if(!pwd || !confirmPwd){
		    		addMsg('error', 'Fields can NOT be empty');
		    		return false;
		    	}

		    	if( pwd != confirmPwd ){
		    		addMsg('error', 'Incorrect Confirm Password');
		    		return false;
		    	}
		    	
		    	if( pwd.length<8 || pwd.length>15){
		    		addMsg('error', 'Incorrect password length (8 - 15 characters)');
		    		return false;
		    	}

		    	$.post('/m/user/do_reset_pwd/@ai/@ac', {'pwd': pwd}, function(data){


					if(data.status.code > 0){
						addMsg('', 'Your password has been changed correctly!!')

					}else if(data.status.code == -11001){
						addMsg('warning', 'You session has expired. Please go back to your App to resend the confirm email.');
					}

					$('#pwd-form').hide();

					$('#back-to-app-div').show();

		    	});

				return false;
		    });


		});
    </script>
}